#images-module{
    border: thin solid blue;
    padding: 20px;
    width: 620px;
}

#images-grid{
    flex-wrap: wrap;
}

.image{
    width: 200px;
}

#images-grid, .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.image-container{
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: white;
    border: thin solid #462F77;
}

#new-image-form{
    padding: 10px;
    width:600px;
}

#new-image-save-button{
    margin-bottom: 20px;
}

.image-text-container{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.image-tag{
    margin: 5px;
    background-color: #462F77;
    color: white;
    padding: 5px 10px;
    border: solid thin #462F77;
    border-radius: 15px;
    cursor: pointer; 
}