.message-name{
    font-weight: bold;
    padding: 5px;
}

.message-text-container{
    background-color: #462F77;
    color: white;
    padding: 10px;
    margin-left: 5px;
    word-wrap:normal;
    width: 250px;
}

.message-text {
    word-wrap: break-word;
}

#new-message-container{
    display: flex;
    flex-direction: column;
    width: 250px;
}

#new-message-username{
    width: 250px;
}

#new-message-button{
    margin-top: 20px;
    width: 100px;
}

#message-list{
    border: thin solid red;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    width: 250px;
}